body{
    padding: 0px;
    background-color: black;
    background-image: url("img/bg.jpg");
    margin-left: 0px;
    /*margin-right: 0px;*/
}

.navdiv{
    width: 100%;
    height: 90px;
    /*background-color: #009999;*/
    display: block;
}

.imgSpan{
    width: 180px;
    height: 100%;
    line-height: 60px;
    margin-left: 10%;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
}

.tabdiv{
    width: auto;
    height: 100%;
    /*background-color: #cc9900;*/
    /*border: cadetblue;*/
    /*border-style: solid;*/
    /*border-width: 1px;*/
    float: right;
    display: inline-block;
    
}

.tabSpan{
    width: auto;
    height: 100%;
    line-height: 70px;
    /*background-color: #ff9966;*/
    /*float: left;*/
    vertical-align: middle;
    margin-right: 45px;
    display: inline-block;
    color: cadetblue;
    font-family: Baskerville Old Face;
    font-size: 2.0em;
    /*cursor: pointer*/
}

a:link, a:visited{
    color: cadetblue;
    text-decoration: none;
}